	:root{
	--w:1200px;
	--jz:0 auto;
	}
	html,body,ul,li,a,div,img,span,input,form
	{
	margin:0; 
	padding: 0;
	}
	img{
	border: 0;
	}
	ul
	{
	list-style: none;
	}
	a
	{
	text-decoration: none;
	color:#000;
	}
	.header
	{

	}
	.register-box
	{
	background: rgb(58,58,58);
	/*padding: 5px;*/
	min-width: 1200px;
	/*max-width: 1440px;*/
	}
	.register
	{
	margin:var(--jz);
	width:var(--w);
	font-size: 13px;
	}
	.register:after
	{
	content: ' ';
	display: block;
	clear: both;
	}
	.register a
	{
	color:#aaa;
	height: 28px;
	display: inline-block;
	line-height: 28px;
	}
	.register a:hover
	{
	color:#fff;
	}
	.register-left
	{
	float: left;
	}
	.register-left ul
	{

	}
	.register-left li
	{
	display: inline-block;
	margin-right: 30px;
	}
	.register-left a
	{

	}
	.register-right
	{
	float: right;
	}
	.register-right ul
	{

	}
	.register-right ul li
	{
	display: inline-block;
	color:#fff;
	position: relative;
	}
	.register-right>ul>li:nth-child(even)
	{
	margin:0 3px;
	}
	.register-right>ul>li:first-child>a:first-child
	{
	margin-right: 15px;
	}
	.register-right>ul>li>a
	{

	}
	.register-right ul ul
	{
	display: none;
	width: 280px;
	background: rgb(50,50,50);
	position: absolute;
	right:0px;
	top:28px;
	padding:6px 0;
	/*padding-left: 10px;*/
	z-index: 1000;
	}
	.register-right ul li:hover ul
	{
	display: block;
	}
	.register-right ul ul li
	{
	display: block;
	padding-left:10px;
	line-height: 40px;
	height: 40px;
	}
	.register-right ul ul li:nth-child(1):hover,.register-right ul ul li:nth-child(2):hover
	{
	background:rgb(30,30,30);
	}
	.register-right ul ul li:nth-child(3)
	{
	border-bottom: 1px solid #ccc;
	margin:0 10px;
	height: 0px;
	line-height: 0px;
	}
	.register-right ul ul li:nth-child(4)
	{
	font-size: 12px;
	color:#aaa;
	}
	.register-right ul ul li:nth-child(5)
	{
	font-size: 20px;
	}
	.register-right ul ul a
	{
	color:#fff;
	}
	.nav
	{
	width: var(--w);
	margin:var(--jz);
	overflow: hidden;
	margin-top: 15px;
	/*border: 1px solid purple;*/
	}
	.nav-logo
	{
	float: left;
	/*border:1px solid red;*/
	}
	.nav-logo img
	{
	/*border: 1px solid blue;*/
	vertical-align: bottom;
	}
	.nav-content
	{
	float: right;
	}
	.nav-content ul
	{
	overflow: hidden;
	width: 900px;
	}
	.nav-content li
	{
	float: left;
	height: 66px;
	line-height: 66px;
	}
	.nav-content li:hover
	{
	border-bottom:2px solid rgb(25,172,247);
	}
	.nav-content li.active{
	border-bottom:2px solid rgb(25,172,247);
	}
	.nav-content li.active a{
	color: rgb(25,172,247);
	}
	.nav-content li a
	{
	display: block;
	padding:0 20px;
	/*float: left;  ie6代码*/
	}
	/*banner*/
	.banner
	{
	position: relative;
	/*border: red 5px solid;*/
	}
	.banner ul
	{

	}
	.banner li
	{

	}
	.banner li a
	{
	display: block;
	height: 360px;
	background: url(images/b4.jpg) center top;
	}



	.login
	{
	position: absolute;
	right:300px;
	top:20px;
	width: 286px;
	height: 294px;
	background: rgba(255,0,0,0.5);
	}
	.login-tab
	{
	width: 60px;
	height: 60px;
	overflow: hidden;
	/*border: 5px solid blue;*/
	position: absolute;
	right: 0;
	top:0;
	}
	.login-tab img
	{
	position: absolute;
	left:-333px;
	top:-200px;
	}
	.qr-code
	{
	border: 5px solid blue;
	margin:20px;
	text-align: center;
	}
	.qr
	{
	width: 120px;
	height: 120px;
	margin:auto;
	overflow: hidden;
	position: relative;
	}
	.qr-code span
	{

	}
	.qr img
	{
	position: absolute;
	left:0;
	top:-349px;
	}
	.help-down
	{

	}
	.help-down a
	{

	}
	.help-down i
	{

	}


	.login-form
	{
	display: none;
	}



	.service
	{
	position: fixed;
	right: 0;
	top:220px;
	width: 100px;
	height: 120px;
	}
	.service a
	{
	margin-top: 20px;
	display: inline-block;
	}
	.service img
	{
	width: 100px;
	}
	.service span
	{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right:0;
	top:0;
	background: #ccc;
	text-align: center;
	line-height: 20px;
	color: red;
	}
